<!DOCTYPE html>
<html lang="en">
<head><!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>
<body>
    <header>
        <nav>
            <a href="/about">About</a>
            <a href="/">Resume</a>
        </nav>
    </header>
    <main>
        <article id="welcome">
            <section id="introduction">
                <h2>Welcome</h2>
                <p>Greetings, my name is Alex Evans.</p>
            </section>
            <section id="background"></section>
            <section id="work-summary">
            </section>
            <section id="hobbies"></section>
        </article>
    </main>
    <footer>
    </footer>
</body>
</html>